@font-face {
    font-family: 'century_gothicregular';
    src: url('../fonts/gothic-webfont.woff2') format('woff2'),
         url('../fonts/gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#wprmenu_bar .menu_title a {color:#9fdae7!important;}
.testimonials-name{ margin:5px 0; font-weight:500}
.testimonials-company{ margin:5px 0; color:#000; font-size:13px}
.testimonials-text{ font-style: italic;}
.thumbnail-testi{ width:160px!important; height:160px; float:left; margin:0 15px 10px 0; -webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px; border:2px solid #93d1df}

/* Top Menu*/
.menu-header{ width:100%; z-index:2; border-top: #fff 1px solid;}
#horiz_m .slidemenu{ padding:0; margin:0 auto; position:relative; text-align:left; z-index:3; }
#horiz_m .slidemenu ul{ font-size:15px!important; margin:0; list-style: inside;  font-family: 'Roboto', sans-serif; text-transform:uppercase; width: -moz-fit-content;width: -webkit-fit-content;width: fit-content; margin: auto auto!important; }
#horiz_m .slidemenu ul li{ position:relative; float:left ;margin:0; padding: 0; list-style: none;}
#horiz_m .slidemenu ul li a{display:inline-block; color:#0d2275;list-style: none; padding: 1.1rem 1.6rem; margin-right:1px; text-decoration: none;}
#horiz_m .slidemenu ul li ul{font-size:13px;font-weight:normal;position:absolute;margin:0;left: 0;display: block;visibility: hidden;border-top: 1px #d152631 solid;z-index:500!important; padding:0;}
#horiz_m  .slidemenu ul li ul li {list-style:none; font-size:13px; width:170px!important; display:list-item; float: none; border-top:#1c1c1c 1px dotted;  text-shadow: none; border-left:none;  margin:0!important; text-align:left;  }
#horiz_m  .slidemenu ul li ul li:last-child {border-bottom:none; }
#horiz_m .slidemenu ul li ul li a{height:auto;padding:8px 15px !important;display:block; background-color: rgba(159,218,231,0.9);color: #fff;text-transform:none;margin:0;border-right:none;}
#horiz_m .slidemenu ul li ul li ul{ top: 0; margin-left: 1px!important;}
#horiz_m .slidemenu ul li a:hover, #horiz_m .slidemenu .current-menu-item > a, #horiz_m .slidemenu ul li.current-menu-ancestor > a{color:#93d1df; background: none; border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;-webkit-border-radius: 4px 4px 4px 4px;border: 0px solid #000000; font-weight: 500;}   
#horiz_m .slidemenu ul li ul li a:hover{color:#0d2249; background:#9fdae7; box-shadow:none; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; font-weight: 500;}
#horiz_m .slidemenu ul li ul li.current-menu-item a, #horiz_m .slidemenu ul li ul li.current-menu-ancestor > a {background:#0d2249; color:#fff; box-shadow:none; border-radius: 0px; }  
#horiz_m .slidemenu ul li ul li ul { visibility: collapse;}
#horiz_m .slidemenu ul li ul li:hover ul{  visibility: visible;}

.aws-container .aws-search-field {color: #313131!important; background: #000033!important; padding: 0 4px 0 10px!important;border: 1px solid #243d6d!important; margin: 15px 0 5px}
body {font:300 14px/22px 'PT Sans', sans-serif; background-color: #f3f3f3; color:#666!important;}
img,input,.btn,a,a:hover,a:active,a:focus {  text-decoration: none;-webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;  -o-transition: all 0.3s ease-in-out;  transition: all 0.3s ease-in-out; outline: 0;}
a.readmore {font-size: 0.8em; text-transform: uppercase; letter-spacing: 3px;}
     
.box{ border:1px solid #eee; width:100%; min-height:320px; background:#FFFFFF; border:#ccc 1px solid; margin:15px 0; padding:5px;
-webkit-box-shadow: 1px 1px 9px -4px rgba(74,74,74,1);-moz-box-shadow: 1px 1px 9px -4px rgba(74,74,74,1);box-shadow: 1px 1px 9px -4px rgba(74,74,74,1);-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; overflow: hidden}
.box:hover { 
-webkit-box-shadow: 1px 1px 9px -4px rgba(74,74,74,1);-moz-box-shadow: 1px 1px 9px -4px rgba(74,74,74,1);box-shadow: 1px 1px 9px -4px rgba(74,74,74,1);-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; background:#fafafa}
.box-text{ position:relative; top:30px}
.box .thumbnail-list { width:auto; height:308px; float:left; margin:0 15px 0 0 ; border:0}
.box .thumbnail-sub { width:100%; padding:0; height:auto; float:left; margin:0 0 10px 0; border:0}
.box .price{ font-size:1.3em!important; margin-bottom:10px; color:#051b44}

/** Buttons **/
.button{padding:5px 10px; display:inline-block; margin:10px 0; cursor:pointer;  text-transform:uppercase!important; color:#fff; font-size:14px }
.button a {color:#fff!important; font-size:13px; text-transform:uppercase; text-decoration:none; font-weight:normal; }
.button a:hover {color:#f8f8f8; }
.button.blue, .product_type_simple, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce div.product form.cart .button {text-align:center;  background:#fff; border:1px solid #9fdae7; color:#052c75!important;}
.button.blue:hover , .product_type_simple:hover, .woocommerce div.product form.cart .button:hover{background:#052c75; color:#FFF!important;}
.button.blue:link , .product_type_simple:link, .woocommerce div.product form.cart .button:link{color:#FFFFFF}

.woocommerce ul.products:hover  li.product:hover {-webkit-box-shadow: 1px 1px 9px -3px rgba(74,74,74,1);
-moz-box-shadow: 1px 1px 9px -3px rgba(74,74,74,1);box-shadow: 1px 1px 9px -3px rgba(74,74,74,1);}
/*form.cart {display: none!important;}*/
.woocommerce div.product form.cart .button{padding: .5em 1em;font-size: 14px;font-weight: 400;margin: 5px 0 10px;}
.woocommerce div.product form.cart div.quantity {border: none !important; margin-right: 10px;}
.woocommerce div.product p.price, .woocommerce div.product span.price {color: #051b44!important; font-weight:500 }
.woocommerce ul.products li.product .price {color: #051b44!important; font-size: .980em; font-weight:500; }
/*.woocommerce .products .add_to_cart_button {display: none!important;}*/
.woo{ border-bottom:1px solid #ccc;  margin:10px 0 30px; padding:10px 0 0 0}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {text-align: center; background:#FFFFFF; border:#ccc 1px solid;
-webkit-box-shadow: 1px 1px 9px -4px rgba(74,74,74,1);-moz-box-shadow: 1px 1px 9px -4px rgba(74,74,74,1);box-shadow: 1px 1px 9px -4px rgba(74,74,74,1);-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {margin: 2px!important;}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {font-size: 1.2em!important;}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {padding: .5em 1em; font-size:14px;font-weight: 400;  /*color: #fff; background-color: #051b44;*/ margin:5px 0 10px}
.woocommerce .products h2{ line-height:20px}
.title-woo{ border-bottom:1px solid #93d1df; text-transform: uppercase; margin-bottom:10px; }
.title-sub{  text-transform: uppercase; margin-bottom:20px; }
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product { margin-bottom:20px}
.woocommerce ul.products li.product a img {margin: 0 0 0.4em;}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 { padding: .2em 0;}
.woocommerce span.onsale {padding: 8px 5px !important; background-color: #bc0000!important; line-height: 22px!important; text-transform:uppercase}

#slider2 { max-width: 30%; margin-right: 20px;}
.row2Wrap { display: flex;}
*, *:before, *:after { box-sizing: inherit;}.content { padding: 10px 15vw;}

/* judul garis */
.no-background { position: relative;  overflow: hidden; margin:30px 0 15px; text-transform:uppercase ; text-align: center; color: #052c75;}
.no-background span { display: inline-block; vertical-align: baseline;  zoom: 1; *display: inline;  *vertical-align: auto;  position: relative; padding: 0 20px; font-family: 'century_gothicregular', sans-serif;}
.address{line-height:24px}
.glyphicon {top: 4px!important; color:#9fdae7}
.entry{ background:#FFFFFF; padding:20px 0}
.content-welcome{ background:#FFFFFF; padding: 50px 0; text-align:center}
.content-testi{ background:#9fdae7; padding: 50px 0;}
.spacer{ padding: 40px 0 50px;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f3f3+87,e2e2e2+99 */
background: rgb(243,243,243); /* Old browsers */
background: -moz-linear-gradient(top, rgba(243,243,243,1) 87%, rgba(226,226,226,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(243,243,243,1) 87%,rgba(226,226,226,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(243,243,243,1) 87%,rgba(226,226,226,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */}
.top-img{ min-height:250px; overflow:hidden;background-position: center;background-repeat: no-repeat;background-size: cover;}
.list-header{ background:#fff; min-height:100px; font-size:12px; line-height:18px; padding:15px 0}
.list-header h4{ color:#003366; font-size:13px; margin:13px 0}
.list-header h1{ color:#003366; font-size:22px; }
.list-header .thumbnail-header{ width:50px; float:left; margin:7px 5px 10px 0 ;}

/* Horizontal Menu2 */
#horiz_m2 .slidemenu2{padding-left:0; padding: 0; margin:0 0 0 0!important;  font-family: 'century_gothicregular', sans-serif;}
#horiz_m2 .slidemenu2 ul{font-size:12px; margin:0; list-style:none; width: -moz-fit-content;width: -webkit-fit-content;width: fit-content; margin: auto 0 auto auto!important;}
#horiz_m2 .slidemenu2 ul li{ position:relative; float:left ;margin:0; line-height: 1.6; padding:8px 8px; text-align:left; display: block; line-height: inherit;}
#horiz_m2 .slidemenu2 ul li a{color:#0d2249;  text-decoration: none;  display: block;}
#horiz_m2 .slidemenu2 ul li a:hover, #horiz_m2 .slidemenu2 .current-menu-item > a, #horiz_m2 .slidemenu2 ul li.current-menu-ancestor > a{ color:#fff;}	

/* Horizontal Menu2 */
#horiz_m-blog .slidemenu-blog{padding-left:0; padding: 0; margin:0 0 0 0!important;  font-family: 'century_gothicregular', sans-serif;}
#horiz_m-blog .slidemenu-blog ul{font-size:18px; margin:0; list-style:none; width: -moz-fit-content;width: -webkit-fit-content;width: fit-content; margin:auto!important;}
#horiz_m-blog .slidemenu-blog ul li{ position:relative; float:left ;margin:0; line-height: 1.6; padding:8px 8px; text-align:left; display: block; line-height: inherit;}
#horiz_m-blog  .slidemenu-blog ul li a{color:#666666;  text-decoration: none;  display: block;}
#horiz_m-blog  .slidemenu-blogul li a:hover, #horiz_m-blog  .slidemenu-blog .current-menu-item > a, #horiz_m-blog  .slidemenu-blog ul li.current-menu-ancestor > a{ color:#93d1df;}	

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,.clear:after,.entry-content:before,.entry-content:after,.comment-content:before,.comment-content:after,.site-header:before,.site-header:after,.site-content:before,.site-content:after,.site-footer:before,.site-footer:after { content: "";display: table; table-layout: fixed;}
.clear:after,.entry-content:after,.comment-content:after,.site-header:after,.site-content:after,.site-footer:after {  clear: both;}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {word-wrap: break-word;}
.bypostauthor {display: block;}
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {   border: none; margin-bottom: 0;  margin-top: 0;  padding: 0;}
embed,iframe,object {  max-width: 100%;}


/*header*/
header { position:relative; z-index:2; }
.navbar { margin-bottom: 0!important; background:#FFFFFF}
header .logo-tag {text-align:center!important; color:#FFFFFF; line-height:18px; position: absolute; z-index:4; }
header .logo-tag img {width:160px; height:112px }


.navbar-collapse {width: -moz-fit-content;
width: -webkit-fit-content;
width: fit-content !important;
margin: auto auto auto auto;}
.navbar-default .navbar-nav li ul li a { font-weight: 100; letter-spacing: 2px;  line-height: 25px; border-bottom: 1px solid #FFF; font-size:17px}
.navbar-nav>li>.dropdown-menu {border: none; border-radius: 0; padding: 0; }
.navbar-right .dropdown-menu {right: auto; left: 0; box-shadow: none;}
.navbar-right .dropdown-menu .dropdown-menu { left: 160px; top: -2px; border: none;border-radius: 0;padding: 0;}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover { background-color: #93d1df; }
header .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {color:#93d1df!important; background: none !important;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {color: #93d1df!important;  background-color: transparent;}

/*post*/
.post-list .post-block { margin-bottom: 30px; height: 100%;}
.post-list .post-block .summary {  padding: 30px 30px 0 30px;}
.post-list .post-block img { transform: scale(1);}
.post-list .post-block img:hover {transform: scale(1.07);}
.post-info { font-size: 0.8em;}
.post-info a { margin-right: 5px;}
.post-info ul { margin: 0; padding: 0; list-style: none; line-height: 15px; float: left; width: 100%;}
.post-info ul li {   display: inline-block;}

/*inside page*/
.page-title h1 { font-size: 2em;font-weight: 400; color: #000; border-bottom: 2px solid #F66264; display: inline-block;}
.comments-area { margin-top: 30px; border-top: 1px dotted #ccc; padding-top: 30px; }
.comments-area h2 { margin-bottom: 15px; }
.comments-area ol { margin: 0;  list-style: none;}
.comments-area ol.comment-list { padding: 0;}
.comments-area ol.comment-list article { margin-bottom: 15px;  background: #fff;  padding: 15px; border-radius: 5px; }
.comments-area footer {  background: none; padding: 0; }
.comments-area .comment-form label,
.comments-area .comment-form input { display: block; font-weight: 300; }
.comments-area .comment-form input,
.comments-area .comment-form textarea { border: 1px solid #ddd;  border-radius: 0; box-shadow: none;   padding: 10px;   width: 100%; }
.comments-area .comment-form .form-submit input { background: #F66264;  color: #fff; text-transform: uppercase; letter-spacing: 3px; border: none; }

/***** Links *****/
a:link                                          {color:#052c75; text-decoration:none!important; outline:0;}
a:visited                                       {color:#052c75; text-decoration:none!important; outline:0;}
a:active                                        {color:#93d1df; text-decoration:none;  outline:0; }
a:hover                                         {color:#93d1df; text-decoration:none!important; outline:0; }
a:focus                                         {color:#93d1df; outline:none; -moz-outline-style:none; }
h1, h2, h3, h4, h5, h6                          { margin:0; padding:0; font-family: 'century_gothicregular', sans-serif; } 
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a              { font-weight:inherit; color:inherit; }
h1 { margin:10px 0 10px 0; padding:0; font-size:29px; line-height:40px; color:#052c75;}
h2 { margin:10px 0 10px 0; padding:0; font-size:25px; line-height:34px; color:#052c75;}
h3 { margin:10px 0 10px 0; padding:0; font-size:19px; line-height:22px; color:#052c75;}
h4 { margin:10px 0 10px 0; padding:0; font-size:16px; line-height:19px; color:#052c75;}
h5 { margin:10px 0 10px 0!important; padding:0; font-size:14px; line-height:16px; color:#052c75;}
h6 { margin:10px 0 10px 0!important; padding:0; font-size:12px; line-height:13px; color:#052c75;}
	
/* SEARCH */
.boxsearch{ margin-top:65px}
#search {background: #f7d100; height: 26px;padding: 0; margin-left:5px; text-align: right;width:250px; text-align:right!important;}
#search input {border: 0;background: none; color: #f4e6ab; font-size:10px; border-right: 1px solid #FF0;}
#search input[type=image] {margin: 3px 3px 0 0;  }
#searchform [type=image] {float:right; width:25px; padding:2px }
#s{width: 210px; height:30px; padding: 0 4px 0 10px; margin:0 0 0 0; background: none; float:left ; border:0; box-shadow: inset 0 0 0 rgba(10, 10, 10, 0.1)!important;  }
#header #search { margin-top: 6px; margin-left:25px; }
#header #search #s { width: 160px;}
input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
padding:3px 5px; border:none; -moz-border-radius: 1px; -khtml-border-radius: 1px;-webkit-border-radius: 1px;border-radius: 1px; background:#000; color:#FFF}
#searchform{ margin:15px 0 15px ; padding: 0; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; height:32px;  border:1px solid #243d6d }
.search-form #searchform {margin: auto!important; width: -moz-fit-content;width: -webkit-fit-content;width: fit-content; float: left!important; }
.shc{ text-align:center; width: -moz-fit-content;width: -webkit-fit-content;width: fit-content!important; margin: auto auto auto auto;}


/************** HEADER **************/
.logo { z-index:1000;}
.logo img{ width:auto!important; position:absolute}
.logo a { display:block; }
.icons-home  i { color:#FFFFFF!important;}
.thumbnailx{ width:300px; float:left; margin:0 15px 10px 0;}
.slider{ position: relative!important; top:0; height:auto; position: relative; width:100%;   overflow:hidden ; background:#000; min-height:380px}

/* wp-pagenavi */
.navigation {margin:20px 0 10px!important; text-align:center; font-family: 'century_gothicregular', sans-serif;  }
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:active{font-size: 13px; padding: 6px 10px !important; color: #000 !important; background:#fff!important; margin:4px;  border-radius: 5px; }
.wp-pagenavi a:hover {color: #fff!important; background:#030d21!important; border-radius: 5px; border-radius: 5px; border-radius:5px; padding: 6px 10px;}
.wp-pagenavi span.pages { font-size: 13px; padding:6px 10px 2px 0; color: #000 !important;background: none !important; border: 0 !important; }
.wp-pagenavi span.current {font-size: 13px; padding:6px 10px;font-weight: bold; color: #fff;background:#93d1df;border-radius: 5px; border:0 }
.wp-pagenavi span.extend {font-size:13px !important; padding:2px 10px;background:transparent;color: #232323;background: none;border:0!important; }
.title-welcome h2{color:#93d1df; margin:0 0 20px 0}
.title-detail{ color:#93d1df; margin-top:0}
.page-line-title {text-transform:uppercase; margin: 0 0 18px 0 !important;  color:#000000; }
.page-line-title a{color:#000000}
.des-title{ margin:5px 0 5px 0!important;}
.mainmenu {position: relative; float: left;margin: 0; width: 100%; background:#e17f00; position:relative; bottom:-16px; -webkit-border-radius: 4px;
-moz-border-radius: 4px;border-radius: 4px; border-top:1px solid #ff9000 }

/* wp-contacform7 */
div.wpcf7 {margin: 0 0 10px!important; font-size:16px}
div.wpcf7-response-output {margin: 2em 0.5em 1em;padding: 0.2em 1em;}
div.wpcf7-mail-sent-ok {border: 2px solid #f78e1e;text-align:center; padding: 10px; line-height: 26px; background-color: #fcf3d3;}
div.wpcf7-mail-sent-ng {border: 2px solid #e3e4e2 ;}
div.wpcf7-spam-blocked {border: 2px solid #ffa500;}
div.wpcf7-validation-errors {border: none;}
span.wpcf7-form-control-wrap {position: relative;}
span.wpcf7-not-valid-tip {position: absolute;top: 20%; left: 20%;z-index: 100;background: #fff;border: 1px solid #e3e4e2 ; width: 280px;padding: 2px;}
span.wpcf7-not-valid-tip-no-ajax {color: #f00;font-size: 10px;display: block;}
span.wpcf7-list-item {margin-left: 0.5em;}
.wpcf7-display-none {display: none;}
div.wpcf7 img.ajax-loader {border: none;vertical-align: middle;margin-left: 4px;}
div.wpcf7 .placeheld {color: #888;}
.wpcf7 input {background: none; border:0; padding:5px 0; width:100%;  margin-bottom:10px; border-bottom:1px solid #ccc}
.wpcf7-select {background:#f2f2f2;border:0;-moz-border-radius: 10px;-khtml-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;padding:3px;}
.wpcf7 label{font-weight: normal!important; display:inherit!important;}
.wpcf7 textarea {background: none; border: 0; padding:3px; width:100%; padding:10px 0; height:100px; border-bottom: 1px solid #ccc;}
.wpcf7 input[type=submit] { border: 1px solid #9fdae7!important; padding:6px 20px;background:#015d99;border:none; float:none;color:#fff!important; width:auto; margin-top:5px; text-transform:uppercase; clear: both!important; }
.wpcf7 input[type=submit]:hover {background:#1f1f1f; color:#fff!important;}
.drawer-items .wpcf7 textarea { min-height:40px!important; height:35px;padding: 10px 10px 0; } 
.drawer-content .wpcf7 input[type=submit]{ margin-left:20px!important; padding:6px 10px 6px 30px!important; background:#93d1df url(../images/send.png) left no-repeat!important; background-size: 25px!important; font-style: normal!important;}
.drawer-content .wpcf7 input[type=submit]:hover { background:#b20000 url(../images/send.png) left no-repeat !important;  background-size: 25px!important;}
.wpcf7-form .wpcf7-submit { background:#00a6ca;}
.wpcf7 .wpcf7-text,.wpcf7 .wpcf7-textarea{}
.wpcf7 p{ position: relative; margin-bottom: 5px; }
.wpcf7 p .fa { position: absolute;  color:#93d1df;  z-index: 100;   font-size: 20px;    top: 12%;    left: 6%;}

/*************** GENERAL ***************/
.datetime { text-align: right;}
.top-top{ background-color: #222;}
.container1 { background:none; }
.wrapper { margin-top:20px; }
.scrolltop { background: url(../images/top.png) repeat; width:40px; height:40px; z-index:1000!important; }
.post-tooltip { font-size:13px; color:#fff; background:#444; display:none; padding:3px 10px; position:absolute; z-index:1000!important;  }
.line-head { height:1px; background:#F7F7F5; margin-top:5px; }
.alignleft { float:left; }
.alignright { float:right; }
.aligncenter { text-align:center;}
.wp-caption img { max-width:620px; height:auto}
.wp-caption p{ margin:0;   padding:0 0 10px 0}
.wp-caption-text {max-width:620px;	font-weight: bold;}


		
/*************** CONTENT ****************/
	/** HTML styling **/
	.edit{float:right;font-weight:normal!important;}
	.single-content a:visited{ font-weight:normal; text-decoration: underline; }
.single-content a { font-weight:normal; text-decoration: underline; }
	.single-content blockquote { background:url(../images/quote.png) no-repeat; padding-left:32px; margin-left:25px; font-style:italic; }
	.single-content blockquote p { color:#999; }
	.single-content img.alignleft { float:left; padding:0 10px 5px 0; }
	.single-content img.alignright { float:right; padding:0 0 5px 10px;  }
	.single-content ul { padding-left:17px; margin-bottom:10px; }
	.single-content ul ul{ margin-left:10px; }
	.single-content ul li{ padding-left:8px; }
	.single-content ol { padding-left:17px; margin-bottom:10px; }
	.single-content ol ol { margin-left:10px; }
	.single-content ol li { list-style-type: decimal; padding-left:8px; }
	#gallery { margin: auto; }
	.gallery-item { float: left; margin-top: 10px;text-align: center; width: 20%;}
	.gallery-icon { margin: auto; width:100px; height:100px; background:#000 url(../images/preview.png) no-repeat 50% 50%; }
	.gallery-icon img { width:100px; height:100px; }
	.gallery-caption { margin-left: 0;}
	
	/** Home Blog Style, Archive, Page **/
	.block-postind { overflow:hidden; margin:10px 0 20px; background:#b20000; text-align:center; border-bottom: 1px dashed #9f9f9f;}
	.block-postind a:link{ color:#fff}
	.content { padding:25px 0; }
	.block-post h3{ margin: 10px 0}
	.content-title h1{ text-transform:uppercase; margin:0; background:#e4ebda; padding:3px 15px; margin-bottom:35px; }
	.block-post { overflow:hidden; margin-bottom:5px; padding-bottom:5px; }
	.block-post p{ margin:0; padding:0; }
	.post-content { overflow:hidden; padding:5px 0;}
	.post-title { overflow:hidden;  padding:7px 15px 0 15px; }
	.post-image{ position:relative; margin-bottom:10px  }
	.text-box{position:absolute; bottom:0; padding:10px; width:100%; text-align:left; background:#666666}
	.post-image img{ width:100% }

	/** Post Info for Blog Style **/
	.post-head { color:#666; padding:5px 0; margin-top:10px!important;   }
	.post-head .info-date, .post-head .info-author, .post-head a { font-size:11px;  color:#666; }
	.info-author { background:url(../images/author.png) no-repeat left; padding-left:20px; padding-top:5px; margin-right:10px; }
	.info-date { background:url(../images/clock.png) no-repeat left; padding-left: 20px; padding-top:2px; margin-right:10px; }
	.info-comment { background:url(../images/comment.png) no-repeat left; padding-left:20px; }
	.info-category { background:url(../images/category.png) no-repeat left; padding-left:23px; margin-right:10px; }
	
	/** Single **/
	.single-block { overflow:hidden; margin:25px 0; }
	.single-title-wrap  { border-bottom:1px solid #93d1df;}
	.single-title { overflow:hidden; margin:0; }
	.single-title h1{ margin:0!important; text-transform:uppercase }
	.single-info { overflow:hidden; color:#666; padding:5px 0; }
	.single-info a{ color:#666; }
	.single-thumb {  padding:5px 0 15px 0; }
	.single-thumb img {padding:0; width:100%; height:300px!important;  }
	.single-content .tagcloud { padding:10px 0 0 0; }
	.post-nav { overflow:hidden; margin-bottom:35px; background:#e4ebda; padding:10px 15px; }
	.nav-right{ font-size:14px; overflow:hidden; float:right; }
	.nav-left { font-size:14px; overflow:hidden; float:left; }
	.single-tag { float:left;  }
	.single-category { float:left; background:url(../images/category.png) no-repeat center left; padding-left:22px; margin-left:16px; color:#666; }
	.single-author { float:left; background:url(../images/author.png) no-repeat 0 20%; padding-left:18px; color:#666; }
	.single-date { float:left; background:url(../images/clock.png) no-repeat 0 40%; padding-left:20px; margin-left:16px; color:#666; }
	.single-comment { float:left; background:url(../images/comment.png) no-repeat center left; padding-left:20px; margin-left:16px; color:#666;  }
	.-post-icon { float:right;  width:65px; height:43px; background:url(../images/format-icon/post-standard.png) no-repeat center right; position:relative; right:15px; top:0; }
	.gallery-post-icon { float:right; width:65px; height:43px; background:url(../images/format-icon/post-gallery.png) no-repeat center right  ; position:relative; right:15px; top:0; }
	.video-post-icon { float:right;  width:65px; height:43px; background:url(../images/format-icon/post-video.png) no-repeat center right; position:relative; right:15px; top:0; }
	.audio-post-icon { float:right;  width:65px; height:43px; background:url(../images/format-icon/post-audio.png) no-repeat center right; position:relative; right:15px; top:0; }
	.reviews-post-icon { float:right;  width:65px; height:43px; background:url(../images/format-icon/post-reviews.png) no-repeat center right; position:relative; right:15px; top:0; }
	
	/** Reviews box **/
	.post-review { background:#e4ebda; overflow:hidden; float:left; padding:10px; margin:10px 10px 10px 0; }
	.overall-score { background:#1E1D1D; height:135px; color:#f8f8f8; float:left; padding:10px; margin:0 10px 0 0; text-align:center; }
	.overall-score span { font-size:14px; font-weight:bold; }
	.overall-score-value {  font-size:40px; font-weight:bold; }
	.critera { overflow:hidden; width:200px; height:24px; background:#1E1D1D; margin-bottom:5px; font-size:12px; padding:3px 10px 0 10px; }
	.critera.last { margin-bottom:0; }
	.critera p { color:#f8f8f8; overflow:hidden; padding:0; margin:0; float:left; }
	.score { float:right; }
	.blog_reviews { background:#111; padding:4px; position:absolute; top:15px; right:20px; display:block; /* for IE */ filter:alpha(opacity=90); /* CSS3 standard */ opacity:0.9; z-index:1000; line-height:1; }
	
	/** Post Author Information and Related Post **/
	.post-share .share-widgets { overflow:hidden; }
	.post-share .share-widget { float:left; padding:0 5px; }
	.post-share, .author-information, .related-wrapper {margin-bottom:10px; overflow:hidden; }
	.author-description img {  border:1px solid #d9d9d9; padding:4px; float:left; margin-top:0px; margin-right:15px; }
	.author-social { float:right; overflow:hidden; }
	.author-social a { float:left; width:16px; height:16px; display:block; margin-left:10px; }
	.author-social a.author-twitter { background:url(../images/social-icons/twitter-author.png) no-repeat; }
	.author-social a.author-facebook { background:url(../images/social-icons/facebook-author.png) no-repeat; }
	.author-social a.author-google { background:url(../images/social-icons/google-author.png) no-repeat; }
	.author-social a.author-flickr { background:url(../images/social-icons/flickr-author.png) no-repeat; }
	.description-author{overflow:hidden; }
	.author-title { float:left; }
	.author-title a{  font-size:14px; line-height:14px; }
	.related-post { float:left; margin-right:20px; width: 140px; position: relative; text-align:center;}
	.related-item-wrapper { overflow:hidden; }
	div.related-post:last-child { margin-right:0; }
	.related-post h6 { font-size:13px; margin-top:5px; }
	
	/** Comments styles **/
	ol.commentlist { margin:0; list-style:none; }
	.comments-navigation { overflow:hidden; padding:15px 0; font-weight:bold; }
	.the-comment { overflow:hidden; margin-bottom:20px; padding-bottom:20px; border-bottom:1px dashed #efefef; }
	.avatar { float:left; margin-right:15px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; width:80px; height:auto }
	.reply-comment { clear:both; text-align:center; margin-top:5px; width:70px; background:#93d1df; padding:2px 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
	.reply-comment:hover { background:#ba0d16; }
	.reply-comment a, .reply-comment a:hover { color:#fff; font-weight:bold; }
	.comment-box { overflow:hidden; }
	.comment-author span { margin-bottom:10px; font-size:15px;  }
	.comment-author small{ font-size: 11px; color:#636363; font-style:italic; }
	#comments .children { margin: 20px 0 0 83px; }
	#comments .children li.comment { margin: 0 0 20px 0; list-style:none; }
	.cancel-comment-reply  a { margin-bottom:10px; }
	.no-comments { color:#888; }
	.wrapper-input { overflow:hidden !important;  }
	#comment-input { float:left; margin-right:40px; }
	#comment-input input { border:0; margin-bottom:17px; border:1px solid #efefef; }
	#comment-input input:focus, textarea:focus { outline:none; }
	#comment-input label { display:block; margin-bottom:5px; }
	#comment-input label .required { font-style:italic; }
	.input-name, .input-email, .input-website { background:#fff ;  width:100%; padding: 5px; margin:0 0 5px!important; height: 32px!important; }
	#comment-textarea { width:100% }
	.textarea-comment {  background:#fff; width:100%; height:156px!important; padding:5px; font-family:arial; margin:0 0 5px!important;  }
	#comment-textarea label { display:block;  }
	#comment-textarea-admin { float:none; margin-bottom:5px;  }
	#comment-textarea-admin label { display:block; margin:10px 0 5px 0; }
	#comment-submit {  float:left; }
	#comment-submit-admin { clear:both; }
	#respond { margin-bottom:35px; }
	#respond form { margin-top:10px;}
	.comment-submit { padding: 6px 20px; text-transform:uppercase; color:#fff;  background:#000; cursor:pointer; border:none; margin-top:5px; float:left}
	.comment-submit:hover { background:#df7f24!important;  }
	
/*************** Contact Form ***************/
.postForm-wrap { background:#e4ebda; padding:10px; margin-top:15px;  }
.postForm { background:#fff; padding:15px; overflow:hidden;  }
.postForm label { font-size: 12px; font-weight: bold; display: block; margin-bottom: 5px;  }
.postForm label span { font-style: italic; color: #888888; font-weight: normal; }
.postForm div { margin-bottom: 20px; }
.postForm .text { border: 1px solid #efefef; color: #555555; font-size: 12px; width: 278px; padding: 9px 10px; }
.postForm textarea { border: 1px solid #efefef; color: #555555; font-size: 12px; width: 400px; padding: 10px; height: 170px; }
.postForm .submit { width:420px; font-size:18px; padding:5px 0; text-transform:uppercase; color:#333; background:#444; cursor:pointer; border:none; margin-top:5px; color:#fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.postForm .submit:hover { background:#BA0D16;  }
.postForm .error_msg { display: none; margin-top: 5px; }
.postForm .email_sent { color: green; margin-bottom: 10px; display: none; }

/************* PAGINATION **************/
.pagination { font-size: 16px; overflow:hidden; margin:35px; text-align:center!important;  width: 100% !important;    }
.pagination a {  line-height:18px; height: 25px; background:#001943 ; display: block; float: left; padding:3px 8px; color: #fff; margin-right: 6px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.pagination a:hover { background: #ccc; color: #fff; }
.pagination span.current { line-height:18px; background: #ff9000; height: 25px; display: block; float: left; padding:3px 8px; color: #f3f3f3; margin-right: 6px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.pagination span.arrows { font-size: 16px; line-height:18px; }

/***************** WIDGET ******************/
.widget{  overflow:hidden; margin-bottom:10px; line-height:24px  }
.widget1{ margin:40px 30px 0 10px; overflow:hidden; padding:0px;/*width:90%;*/ float:right;  }
.widget iframe { display:block; width:100%; margin-bottom:10px }
.widget ul {  list-style-type:none; clear:both; height:100%; overflow:hidden; margin:0!important; padding:0 } 
.widget ul li { padding: 9px 0; border-top:1px solid #9f9f9f; }
.widget .children{ margin-top:10px!important;  }
.widget li {display: block; text-transform:uppercase}
.widget li a { padding: 0;  }
footer .widget li{ text-transform:none}

.widget ul li:last-child { border-bottom:none; }
.widget ul li ul li {  border-top:1px dashed #ccc!important; padding:4px 0 ;}
.widget ul li ul li a {text-transform: none; color: #999999 !important; display: block;}
.widget ul li ul li a:hover {color:#93d1df!important; }
.widget .textwidget { padding:8px 0 15px 0;  }
.textwidget p { padding:0 ; margin:0; } 
.widget-magazine{ margin-bottom:10px}
.widget-line-title { height:27px; }
.line-title { height:27px; }
.widget-line-title h3 { text-transform:uppercase; }
.widget-footer-title { margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #3C3C3A; }
	
	
/** Widget Homepage Magazine Columns **/
.magazine{margin:10px 0 30px;}
.magazine-widget { margin:20px 0 !important; }
.widget-magazine .block-big  { overflow:hidden; padding:15px 0; border-bottom: 1px dashed #ccc  }
.widget-magazine .big-desc { padding-left:20px; overflow:hidden; }
.widget-magazine.half .big-desc { clear:both; padding-left:0; }
.magazine-widget .block-big h3 { font-size:16px; }
.widget-magazine.half .big-title { padding-top:8px; }
.widget-magazine .block-big p { margin:0 0 10px; }
.widget-magazine .block-big .magz-image { float:left; }
.fadeover img{ width:100%; height: auto}
.widget-magazine .block-small { width:100%; float:left; overflow:hidden; margin:15px 0 10px!important; border-bottom: 1px dashed #2a2a2a;}
.magazine-widget .block-small-noimage { background:url(../images/Right-Arrow.png) no-repeat 0 14px; width:285px; float:left; overflow:hidden; padding:10px 0 10px 15px; border-top:1px dashed #efefef; }
.magazine-widget .block-small-noimage a { }
.widget-magazine .right { margin-left:0; }
.widget-magazine .left { margin-right:0; }
.widget-magazine .block-small .description { overflow:hidden; }
.widget-magazine .block-small .magz-image { float:left; margin-right:10px; margin-bottom:10px }
.magz-meta, .magz-meta a  { font-size:11px; font-style:italic; padding:5px 0; }
.magazine-widget .block-small h3, .magazine-widget .block-small-noimage h3 {  }
.block-small-noimage {padding: 15px 0; border-bottom: 1px dashed #ccc!important;}

/** Social Counter Widget **/
.social-counter-wrapper { overflow:hidden; background:#e4ebda; padding:10px; margin-bottom:35px; }
.social-counter { background:#fff; float:left; text-align:center; width:70px; padding:10px; margin-right:5px; }
.social-counter.facebook-count { margin:0; }
.social-counter .social-count { color:#666; font-size:18px; } 
.social-counter .social-descrip { color:#666; }
.social-counter a { margin-left:19px; }
.rss-count a{ background:url(../images/social-icons/rss-counter.png) no-repeat; width:32px; height:32px; display:block; }
.twitter-count a{ background:url(../images/social-icons/twitter-counter.png) no-repeat; width:32px; height:32px; display:block; }
.facebook-count a{ background:url(../images/social-icons/facebook-counter.png) no-repeat; width:32px; height:32px; display:block; }
.title-up{ text-transform:uppercase; margin-bottom:20px}
/** Widget Homepage Magazine Carousel **/
.wrapper-carousel { overflow:hidden; padding:15px 0; }
.wrapper-carousel .image-carousel { position:relative; float:left; display: block; }
.anyClass { height:auto; width:100%!important; overflow:hidden; float:left; margin-left:25px; }
.wrapper-carousel ul li { position:relative; list-style-type:none; width:130px; height:90px; margin-right:15px; }
a.prev, a.next { width: 17px; height: 22px; display: block; position: absolute; top:50px; z-index:50; }
a.prev span, a.next span { display: none; }
a.prev { left:0; background:url(../images/carousel-arrow.png) 0 0;  } 
a.next { right:0; background:url(../images/carousel-arrow.png) -17px 0; }
	



/** Social Network Widget**/
.title-social {  float:left!important; color:#f3f3f3;  margin-right:4px; }
.widget .socialx ul li { padding: 0 0!important;  }
.socialx .social-widget {width: -moz-fit-content; width: -webkit-fit-content; width: fit-content!important; margin: auto auto auto 0; padding:0}
.socialx .social-widget li, .widget .social-widget li{ float:right!important; list-style-type:none; border:none!important; margin:8px 4px; width:20px; height:20px;}
.facebook a, .twitter a,.googleplus a,.linkedin a,.youtube a,.rss a,.instagram a,.linkedin a,.soundcloud a, .snapchat a, .mail a,
.deviantart a{ width:20px; height:20px; display:block;  text-align: center; font-size:15px; color:#0d2249 }

.socialx .social-widget a:link { color:#0d2249;}
.socialx .social-widget a:hover { color:#1f1f1f!important;}

.copyright .socialx .social-widget {width: -moz-fit-content; width: -webkit-fit-content; width: fit-content!important; margin: auto 0 auto auto; padding:0;}
.copyright .socialx .social-widget a:link { color:#9fdae7;}
.copyright .socialx .social-widget a:hover { color:#CCCCCC!important;}

/** Search Widget **/
.search-sidebar  { margin:0 0 15px 0; background:#fff; padding:5px 10px 10px 0;}
#search{ background:#fff; padding:5px 10px; overflow:hidden; }
#search #s { background:none; border:none; color:#666; width:88%; float:left; }
#searchbutton{ width:16px; height:16px; float:right; float:right;  margin-top:10px; background:url(../images/search.png) no-repeat;  border:0; text-indent: -1000em; cursor: pointer; cursor: hand; /* for IE 5.x */ }
#search #s:focus { outline:none; }
.search-header { margin-left:20px;}
.search-header #search{  padding:3px 5px 3px 10px; overflow:hidden; }
.search-header #search #s { width:150px; }
.search-header { float:right; border:1px solid #c8c8c8; width: 190px; overflow:hidden;  }



/** Tabs widget **/
.tabs-wrapper { padding:0; overflow:hidden; overflow:hidden; }
ul.tabs-sidebar { margin:0; padding:0; overflow: hidden; background:transparent; }
ul.tabs-sidebar li { background:none; float:left; text-align:center; width:35%; padding: 0 !important; border:none !important; overflow: hidden; }
ul.tabs-sidebar .last { width:30%; }
ul.tabs-sidebar li a { text-decoration:none; font-size:14px; display: block; outline: none;  padding:3px 0; text-transform:uppercase; }
ul.tabs-sidebar li.last a { overflow:hidden; border-right:none; padding:3px 0; }
ul.tabs-sidebar li a:hover, ul.tabs-sidebar li.active a{ background: #fff !important; z-index:1000; border-bottom:1px solid #fff; }
.tab_content{padding:0; }
.block-tabs { overflow:hidden; padding:15px 0; border-bottom: 1px dashed #9f9f9f; }
.block-tabs:last-child { border:none; }
.tabs-image { position:relative; float:left; margin-right:10px; }
.block-tabs .description { overflow:hidden; }
.block-tabs .description h3  { font-size:13px; margin:0!important; }
.block-tabs .tabs-meta, .block-tabs .tabs-meta a { float:left; padding-top:5px; font-size:11px; font-style:italic; font-weight:normal; }
.review { float:left; padding:4px 0 0 7px; }	
.block-tabs .avatar { margin-top:0; float: left; margin-right: 10px; }
.block-tabs .comment-text-side { font-weight:normal; font-size:12px; }
.commenters {  font-size:14px; }
#tags-tabs { overflow:hidden; }
.tagcloud { overflow:hidden; padding:5px 0; }
.tagcloud a { background:#666; color:#fff;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;  float: left; margin: 2px 2px 2px 0; padding:0px 5px;  }
/*.tagcloud a { background:#444; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;  float: left; margin: 5px 5px 5px 0; padding:3px 10px; color:#fff; }*/
.tagcloud a:hover { color:#fff; background:#ba0d16;  text-decoration: none; }
.tagcloud a:before { content:'';  display:inline-block; border-radius:20px; width:6px; height:6px;background-color:#fff; margin:0 6px 1px 0; zoom:1; /* IE7 fix */*display:inline;  /* IE7 fix */}

/** Tweet Widget **/
ul.tweets  { margin:0; padding:0 10px; background:#fff;  }
ul.tweets .tweet  { list-style-type:none; clear:both; height:100%; width:82%; overflow:hidden; padding:15px 15px 15px 30px; background:url(../images/twitter.png) no-repeat 0 18px; border-bottom:1px dashed #efefef; float: left; margin:0; }
ul.tweets .tweet:last-child { border-bottom:none; }
ul.tweets .tweet a{ font-weight:bold; }
.widget .tweet-side { height:15px; background:url(../images/tweet-side.png) no-repeat 30px 0; }
.follow-message { margin:0;  text-align:left; font-weight:bold; font-style:italic; }
.widget .follow-message { padding:0; }
.widget-footer ul.tweets { padding:0; margin:0; background:transparent; }
.widget-footer ul.tweets .tweet  { list-style-type:none; clear:both; height:100%; width:79%; overflow:hidden; padding:0 0 15px 30px; background:url(../images/twitter-footer.png) no-repeat 0 5px; float: left; margin:0; border:none; }
.widget-footer ul.tweets .tweet a{ font-weight:normal; }
.logo-footer img{ text-align:left; width:180px;}
footer .widget ul li{ border-top: 1px dashed #5c5c5c}
footer{ background:#1f1f1f; padding:40px 0; color:#FFFFFF}	
footer h3{ color:#9fdae7; margin-bottom:20px; text-transform:uppercase}
footer a:link{ color:#FFFFFF!important;}
footer a:hover, footer a:active, footer a:focus, footer a:visited{ color:#ccc!important;}

/** Facebook Like **/
.facebook-like-wrap{margin-bottom:10px;}

	

/***************** SHORTCODES ******************/
/** Columns **/
.last { margin-right: 0 !important; }
.one_half { 	width: 48%; float: left; margin-right: 4%; }
.one_half.last { width: 48%; float: right; }
.one_third { width: 30.6666%; float: left; margin-right: 4%; }
.one_third.last { width: 30.6666%; float: right;  }
.two_third { width: 65.3332%; float: left; }
.two_third.last { width: 30.6666%; float: right; }
.one_fourth { width: 22%; float: left; margin-right: 4%; }
.one_fourth.last { width: 22%; float: right; }
.three_fourth { width: 74%; float: left; margin-right: 4%;  }
.three_fourth.last { width: 22%; float: right; }
.clearboth { clear: both; display: block; font-size: 0px; height: 0px; line-height: 0; width: 100%; overflow:hidden; }

/** Dropcap **/
.dropcap { font-size:40px; margin-right:6px; text-transform: uppercase; float: left; line-height: 1; font-weight:bold; }


	
/** Youtube & Vimeo **/
.video-shortcode { margin-bottom:20px; }

/** Toggles **/
h5.toggle { background:#e4ebda; padding:5px 10px; margin:15px 0; cursor:pointer; }
h5.toggle a { background:url(../images/toggle-open.png) no-repeat left center; text-decoration:none; padding-left:20px;  font-size:16px; color:#444; font-weight:normal; }
h5.toggle.active a { background:url(../images/toggle-close.png) no-repeat left center; text-decoration:none; padding-left:20px;  font-size:16px; }
.toggle-content { display:none; background:#e4ebda; padding:10px;  font-size:12px;  margin-bottom:20px; }
.toggle-content .block { background:#fff; padding:10px; }

/** List **/
.checklist li { background:url(../panel/shortcodes/check-list.png) no-repeat left  !important; padding-left:28px !important; list-style-type:none;}
.badlist li { background:url(../panel/shortcodes/bad-list.png) no-repeat left  !important; padding-left:28px !important; list-style-type:none;}
.blocklist li { background:url(../panel/shortcodes/block-list.png) no-repeat left  !important; padding-left:28px !important; list-style-type:none;}
	
/** Attention, Information, and Error **/
.attention {padding: 8px 10px 5px 10px; overflow: auto; margin-bottom: 20px; clear: both; border: 1px solid #BF9900; background: #FEEB9C url(../images/warning-bg.png) repeat-x top; }
.attention p, .information p, .error_warning p { padding: 0; margin: 0;}
.attention p span {background:url(../panel/shortcodes/icon-warning.png) no-repeat left  !important; padding-left:25px !important;font-weight: bold; color: #BF9900;}
.information { padding: 8px 10px 5px 10px; overflow: auto; margin-bottom: 20px; clear: both; border: 1px solid #2FADD7; background: #92D6ED url(../images/info-bg.png) repeat-x top; }
.information p span {background:url(../panel/shortcodes/icon-info.png) no-repeat left  !important; padding-left:25px !important;font-weight: bold; color: #0E7A9F;}
.error_warning { padding: 8px 10px 5px 10px; overflow: auto; margin-bottom: 20px; clear: both; border: 1px solid #990000; background: #F5D0CD url(../images/error-bg.png) repeat-x top; }
.error_warning p span { background:url(../panel/shortcodes/icon-error.png) no-repeat left  !important; padding-left:25px !important;font-weight: bold; color: #990000;}
	
	
	
	
/**************** FOOTER ****************/
.copyright{font-size:14px; background:#171717; text-align:left; color:#fff; min-height:60px; padding:15px 0}
.copyright a{ color:#ccc}
.copyright h5{position:relative; font-size: 12px;  margin: 16px 0!important;}
.copyright p{ margin-top:10px}

/**************** 404 Error ****************/
.error404_image { overflow:hidden; margin-bottom:20px; }
.error404_title { font-weight:bold; font-size:50px; text-align:center; margin-bottom:20px }
.error404_text { font-weight:bold; font-size:30px; text-align:center; margin-bottom:20px;}

.menu-menu-container ul{  float:left}
.social-widget ul{ list-style:none!important; margin: 0 0 0 0!important; padding: 0!important;}
.guaranted img{ max-width:118px; height:auto; position:absolute;left:-10px;  }
.content-list{ padding:30px 0}
.content-area{ font-size:16px}
.big-title{ text-transform:uppercase; }
.post-block .big-title h1{margin-top:30px!important; font-size:40px}
.map{ }
.map iframe {display: block;width: 100%; height:500px;margin-bottom: 10px;border: 0!important;}
.fa-2x { font-size: 25px!important;}
#et_builder_outer_content {position: relative!important; z-index:1!important;}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary { display: block;}
audio,canvas,progress,video {  display: inline-block; vertical-align: baseline;}
audio:not([controls]) { display: none;  height: 0;}
[hidden],template {  display: none;}
a { background-color: transparent;}
a:active,a:hover { outline: 0;}
abbr[title] {  border-bottom: 1px dotted;}
b,strong { font-weight: bold;}
dfn {  font-style: italic;}
mark { background: #ff0;   color: #000;}
small { font-size: 80%;}
sub,sup { font-size: 75%; line-height: 0;  position: relative; vertical-align: baseline;}
sup { top: -0.5em;}
sub { bottom: -0.25em;}
img {  border: 0;}
svg:not(:root) { overflow: hidden;}
figure {  margin: 1em 40px;}
hr { box-sizing: content-box; height: 0;}
pre {overflow: auto;}
code,kbd,pre,samp {  font-family: monospace, monospace;   font-size: 1em;}
button,input,optgroup,select,textarea { color: inherit;font: inherit; margin: 0;}
button {overflow: visible;}
button,select { text-transform: none;}
button,html input[type="button"],input[type="reset"],input[type="submit"] { -webkit-appearance: button;  cursor: pointer;}
button[disabled],html input[disabled] { cursor: default;}
button::-moz-focus-inner,
input::-moz-focus-inner {   border: 0;   padding: 0;}
input { line-height: normal;}
input[type="checkbox"],
input[type="radio"] {box-sizing: border-box; padding: 0;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {   height: auto;}
input[type="search"] {-webkit-appearance: textfield;  box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none;}
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em;}
legend { border: 0; padding: 0;}
textarea {overflow: auto;}
optgroup { font-weight: bold;}
table { border-collapse: collapse;   border-spacing: 0;}
td,th {padding: 0;}


/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {box-sizing: border-box;}
*,*:before,*:after { box-sizing: inherit;}
blockquote:before,blockquote:after,q:before,q:after {  content: "";}
blockquote,q {  quotes: "" "";}
hr { border-bottom:1px dashed #ccc;  margin-bottom: 1.5em;}
ul {  list-style: disc;}
ol { list-style: decimal;}
li > ul,li > ol {  }
dt { font-weight: bold;}
dd { margin: 0 1.5em 1.5em;}
img { height: auto; max-width: 100%;}
table {margin: 0 0 1.5em; width: 100%;}


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation { clear: both; display: block;float: left;width: 100%;}
.main-navigation ul { display: none;list-style: none; margin: 0;padding-left: 0;}
.main-navigation li {float: left;position: relative;}
.main-navigation a {display: block; text-decoration: none;}
.main-navigation ul ul { box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); float: left; position: absolute;top: 1.5em; left: -999em;z-index: 99999;}
.main-navigation ul ul ul {left: -999em;top: 0;}
.main-navigation ul ul a { width: 200px;}
.main-navigation ul ul li {} .main-navigation li:hover > a,
.main-navigation li.focus > a {} .main-navigation ul ul:hover > a,
.main-navigation ul ul .focus > a {} .main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {} .main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {  left: auto;}
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {  left: 100%;}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul { display: block;}


@media screen and (min-width: 37.5em) {
.menu-toggle {  display: none; }
.main-navigation ul { display: block; }
header .logo-tag {position: relative;}
.hide{ display: block}
}

@media (max-width: 991px) {
.gold{top:0;}
header { height:auto;}
h1 {font-size: 2em;}
.theme-slider .carousel-inner .item .slide-caption .summary {   font-size: 1.25em;  line-height: 20px; }
.hide{ display: block}

#horiz_m2 .slidemenu2 ul{ width: -moz-fit-content;width: -webkit-fit-content;width: fit-content; margin: auto!important;}
.aws-container .aws-search-field {width: 100% !important; }
}

@media (max-width: 767px) {
.gold{top:0;}
header {height:auto;}
header .navbar-nav { display: block; margin-top: 0;}
header .navbar-nav .dropdown-menu { margin-left: 5px;  display: none !important; }
header .navbar-nav .open .dropdown-menu {  display: block !important; }
.navbar-default .navbar-toggle {  position: absolute;  right: 0;  background: #93d1df!important; border: none;  border-radius: 0; z-index:18 }
.navbar-default .navbar-toggle .icon-bar {  background-color: #fff;  }
.navbar-default .navbar-collapse, .navbar-default .navbar-form {    border: none;  }
.main-search {     display: none;  }
.spacer { padding-top: 30px;  padding-bottom: 30px; min-height:450px }
.post-list .post-block {  height: auto;}
ul { margin: 0; padding-left: 15px; }
.logo img { max-width:77px; height:auto; position: relative;left:0; top:-5px }
.guaranted img{ max-width:77px; height:auto; position: relative;left:0;  }
.social-widget li{ width:30px!important; height:30px!important; margin: 5px!important;}
.social-widget li a{ width:25px!important; height:25px!important; background-size:80%;}
.title{ padding:0; text-transform: uppercase}
header .logo-tag {position: relative;}
#horiz_m2 .slidemenu2 ul {margin: auto!important;}
.shc{margin: auto!important; width: -moz-fit-content;width: -webkit-fit-content;width: fit-content;}
#searchform{ float: none; width: 100%;} 
footer, .copyright { text-align:center}
.socialx  {width: -moz-fit-content;width: -webkit-fit-content;width: fit-content; margin: auto!important;}
.hide{ display: block}
.box-text{ position:relative; top:5px}
}

